@import url('https://fonts.googleapis.com/css?family=Oswald');
 @import url('https://fonts.googleapis.com/css?family=Merriweather');
 @import url('https://fonts.googleapis.com/css?family=Bitter');
 @import url('https://fonts.googleapis.com/css?family=Exo+2');
 
 /*
 
 profile
 */
.row {
    
    background-color: #2ecc71;
     
    
}
.pic_base{
    height:18%;
    background-color: #34495e;
  
    background-size: cover;
}

#edit{
    color: white;
    margin-left: 10px;
    margin-top: 8px;
}

#profile_pic{
    border-radius: 100%;
    border: 2px solid #34495e;
    box-shadow: 0 2px 2px black;
    box-sizing: border-box;
    position: absolute;
    margin-top: 40px;
    margin-left: 20px;
}
#student {
    position: absolute;
    font-family: verdana;
    margin-left: 360px;
    margin-top: 10px;
    color: #ecf0f1;
    font-family: 'Merriweather', serif;
}
#uid{
    position: absolute;
    margin-left: 360px;
    margin-top: 70px;
    font-weight: bold;
    font-family: 'Bitter', serif;

}

.social{
    list-style: none;
    position: absolute;
    bottom: 70px;
    align-items: center;
    margin-left: 30px;
}
.social li {
    display: inline;
    padding: 20px;
    margin-left: -30px;
    padding-left: 130px;
    align-items: center;
    color: white;

}
.social li a{
    color: white;
}
.social li a:hover{
    color: blue;
    transform: scale(1,1.5);
}



/* Side bar*/
#mySidenav a {
  position: absolute;
  right: -50px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  right: 0;
}

#about {
  top: 170px;
  background-color: #4CAF50;
}

#blog {
  top: 240px;
  background-color: #2196F3;
}

#projects {
  top: 310px;
  background-color: #f44336;
}

#contact {
  top: 380px;
  background-color: #555
}
/* tab space*/
pre{
	font-size:.7rem;
	margin:0;
}
#first{
	margin-left:50px;
	font-family: 'Bitter', serif;
	 font-weight: bold;
	 font-size:200%;
}



/*scrolling*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .sidenav {
  padding-top: 102px;
}


/*Table plus slide show*/
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0
}
.mySlides {display: none}
img {vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
background-color:gray;
  margin:10% 10% 10% 10%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color:blue;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin:0;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
margin:10% 50% 10% 10%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}
#customers tr:nth-child(odd){background-color: #BEBEBE;}



#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000000;
  color: white;
}